@tailwind base;
@tailwind components;
@tailwind utilities;


[color-scheme='light']{
  background-color: white;
  color: white;
}

[color-scheme='dark']{
  background-color: rgb(71 85 105);
  color: white;
}